<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado de clientes</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">	<!--  Enlazamos Bootstrap -->
</head>
<body>
	<div align="right">
		<form th:action="@{/logout}" method="post">
    		<input type="submit" value="Logout" />
		</form>
	</div>
	
	<div>
	<h1 align="center">Listado de empresas</h1>
	<br>
	
	<table style="width:50%" align="center" class="table table-sm">
		<thead>
			<tr>
				<th>ID-Empresa</th>
				<th>CIF</th>
				<th>Nombre</th>
				<th>Tel&eacute;fono</th>
				<th>Email</th>
				<th>Direcci&oacute;n</th>
				<th>C.P.</th>
				<th>Localidad</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tempEmpresa : ${listaEmpresas}">
			  	<td th:text="${tempEmpresa.id_empresa}" />
				<td th:text="${tempEmpresa.cif}" />
				<td th:text="${tempEmpresa.nombre}" />
				<td th:text="${tempEmpresa.telefono}" />
				<td th:text="${tempEmpresa.email}" />
				<td th:text="${tempEmpresa.direccion}" />
				<td th:text="${tempEmpresa.cp}" />
				<td th:text="${tempEmpresa.localidad}" />
			</tr>
			<tr></tr>
			<tr><td colspan="8" align="center">
				<a th:href="@{/}"> Principal </a>
			</td>
		</tbody>
	</table>	
	</div>
</body>
</html>