<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Datos del Cliente</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  <!--  Enlazamos Bootstrap -->
</head>


<body>
	<div class="container">
	<div class="row justify-content-center">
	<h1>Datos Personales</h1>
	</div>	
	<form action="#" th:action="@{/clientes/actualizarCliente}" method="POST">	  
		
		<div class="form-group" th:object="${clienteActualizar}">
			
			<input type="hidden" th:field="*{id_cliente}"/>		<!-- Añadimos un campo oculto con la id del empleado para las actualizaciones -->

			<div class="row justify-content-center">
			<div class="col-1">			
			<label for="dni">DNI: </label> 
			</div>
			<div class="col-4">
			<input type="text" class="form-control" th:field="*{dni}" placeholder="DNI" id="dni">
				<small th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></small><br>
			</div>
			</div>
			
			<div class="row justify-content-center">
			<div class="col-1">
			<label for="nombre">Nombre: </label>
			</div>
			<div class="col-4">
			<input type="text" class="form-control" th:field="*{nombre}" placeholder="Nombre" id="nombre">
				<small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small><br>
			</div>
			</div>
			
			<div class="row justify-content-center">
			<div class="col-1">
			<label for="telefono">Tel&eacute;fono: </label>
			</div>
			<div class="col-4">
			<input type="text" class="form-control" th:field="*{telefono}" placeholder="Tel&eacute;fono" id="telefono">
				<small th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small><br>
			</div>
			</div>
			
			<div class="row justify-content-center">
			<div class="col-1">
			<label for="email">Email: </label>
			</div>
			<div class="col-4">
			<input type="text" class="form-control" th:field="*{email}" placeholder="Email" id="email"><br>
				<small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small><br>
			</div>
			</div>
			
			<div class="row justify-content-center">
			<div class="col-5">
				<button type="submit" class="btn btn-info btn-block">Guardar</button>
			</div>
		</div>
		</div>
		
		
	</form>
	</div>
</body>
</html>