<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="ISO-8859-1">
	<title>Area Cliente</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  <!--  Enlazamos Bootstrap -->
</head>


<body>
	<div align="right">
		<form th:action="@{/logout}" method="post">
    		<input type="submit" value="Logout" />
		</form>
	</div>
	
	<div class="container">
		<div  class="row">
		<div class="col-2" align="center">Datos Cliente</div>
		</div>
		<div class="row col-4">
			<table class="table table-sm table-borderless">
				<tr><td>DNI</td><td th:text="${clienteLogado.dni}" /></tr>
				<tr><td>Nombre</td><td th:text="${clienteLogado.nombre}" /></tr>
				<tr><td>Tel&eacute;fono</td><td th:text="${clienteLogado.telefono}" /></tr>
				<tr><td>Email</td><td th:text="${clienteLogado.email}" /></tr>
				<tr><td> <a th:href="@{/clientes/actualizaCliente(clienteId=${clienteLogado.dni})}"
							class="btn btn-outline-primary btn-sm"> Actualizar datos </a></td>
					<td> <a th:href="@{/clientes/actualizarClave(dniUsuario=${clienteLogado.dni})}"
							class="btn btn-outline-primary btn-sm"> Cambiar clave </a></td>
							</tr>
			</table>	
		</div>

	<div class="row">
		<div class="col">
			Tickets pendientes

			<table>
		<thead>
			<tr>
				<th>ID-Cliente</th>
				<th>Oferta</th>
				<th>Usado</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tempHistoCli : ${historicoCliente}" th:unless="${tempHistoCli.usado}">
				<td th:text="${tempHistoCli.id_cliente}" />
				<td th:each="tempDatosOferta : ${datosOferta}" th:if="(${tempHistoCli.id_oferta} == ${tempDatosOferta.id_oferta})" th:text="${tempDatosOferta.titulo}" />  <!-- Si usado = false (ticket pendiente) -->
				<td th:text="${tempHistoCli.usado}" />
			</tr>
		</tbody>
	</table>
	
	
		</div>
		<div class="col">
			Tickets usados
			<table> 
		<thead>
			<tr>
				<th>ID-Cliente</th>
				<th>Oferta</th>
				<th>Usado</th>
				<th>Fecha</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tempHistoCli : ${historicoCliente}" th:if="${tempHistoCli.usado}">  <!-- Si usado es true -> ticket usado -->
			  	<td th:text="${tempHistoCli.id_cliente}" />
				<td th:each="tempDatosOferta : ${datosOferta}" th:if="(${tempHistoCli.id_oferta} == ${tempDatosOferta.id_oferta})" th:text="${tempDatosOferta.titulo}" />  <!-- Si usado = false (ticket pendiente) -->
				<td th:text="${tempHistoCli.usado}" />
			 	<td th:text="${#temporals.format(tempHistoCli.fecha, 'dd-MMMM-yyyy', new java.util.Locale('es', 'ES'))}">	
			 	<!-- Alternativa <p th:text="${#dates.format(date, 'dd.MM.yyyy')}"></p>     25.09.1979   -->
		 		
			</tr>
		</tbody>
	</table>
		</div>
		<div class="col">
			Tercera columna
		</div>
	</div>  <!--  cierre del div class="row"> -->
	<div class="row">
		<tr><td colspan="5" align="center">
		<a th:href="@{/}"> Principal </a>
	</div>
	</div>  <!-- cierre del container -->
</body>
</html>