<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Nuevo Cliente</title>
</head>

<body>
	<h1>Nuevo Cliente</h1>
	<br>					
	<form action="#" th:action="@{/clientes/grabarCliente}"
					 th:object="${nCliente}" method="POST">
					 
		<input type="hidden" th:field="*{id_cliente}"/>		  <!-- Añadimos un campo oculto con la id del empleado para las actualizaciones -->
		
		<input type="text" th:field="*{dni}" placeholder="DNI">
			<small th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></small><br>

		<input type="text" th:field="*{nombre}" placeholder="Nombre">
			<small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small><br>
			
		<input type="text" th:field="*{telefono}" placeholder="Teléfono">
			<small th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small><br>
			
		<input type="text" th:field="*{email}" placeholder="Email"><br>
			<small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small><br>
		
		<button type="submit">Guardar</button>
	</form>
</body>
</html>