<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
<title>Listado de clientes</title>
</head>
<body>
	<h1 align="center">Listado de clientes</h1>
	<br>
	
	<table style="width:50%" align="center">
		<thead>
			<tr>
				<th>ID-Cliente</th>
				<th>DNI</th>
				<th>Nombre</th>
				<th>Tel&eacute;fono</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tempCliente : ${lista}">
			  	<td th:text="${tempCliente.id_cliente}" />
				<td th:text="${tempCliente.dni}" />
				<td th:text="${tempCliente.nombre}" />
				<td th:text="${tempCliente.telefono}" />
				<td th:text="${tempCliente.email}" />
			</tr>
			<tr></tr>
			<tr><td colspan="5" align="center">
				<a th:href="@{/}"> Principal </a>
			</td></tr>
		</tbody>
	</table>	
	<br><br>
	
</body>
</html>